.description {
    display: flex;
    justify-content: space-around;
}

.tripTitle {
    font-weight: bold;
}

.descriptionText {
    word-break: break-all;
}

.DetailsImg {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 16px 22px 51px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.detailsButton {
    width: 100px;
}