img {
    width: 100%;
}

.App {
    font-family: 'Dosis', sans-serif;

}

.AppRoutes {
    min-height: 800px;
    position: relative;
}

img {
    width: 100%;
}

nav img {
    width: 40px;
    border-radius: 10px;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: inherit;
}

/* a:active {
    color: blue;
} */

.dropdown span {
    color: black;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}