 .Home {
     /* height: 400px; */
 }

 .SearchForm {
     width: 100%;
     background: rgb(53, 60, 68);
     background: linear-gradient(180deg, rgba(53, 60, 68, 1) 7%, rgba(33, 37, 41, 0.6362920168067228) 58%, rgba(255, 255, 255, 0.014443277310924318) 100%);
 }

 .NotMatches {
     padding-top: 50px;
     text-align: center;
 }